:root {
  --vp-layout-max-width: 1600px;
  --vp-c-brand-1: #09c0e0;
  --vp-c-brand-2: #03b1e1;
  --vp-c-brand-3: #0199e4;

  /* hero标题渐变色 */
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #009ef0, #01e7f0);

  /*hero logo背景渐变色 */
  --vp-home-hero-image-background-image: linear-gradient(-45deg, #009ef0 50%, #01e7f0 50%);
  --vp-home-hero-image-filter: blur(40px);
}

/* VPFeatures 页卡悬浮效果 */
.VPFeatures .items .item {
  transition: transform 0.3s;
}

.VPFeatures .items .item:hover {
  transform: translateY(-5px);
}

.link-text-value {
  justify-content: flex-end;
}

.content-container {
  margin: 0 !important;
  max-width: none !important;
}

.outline-link.active {
  color: var(--vp-c-brand-1) !important;
}

.iconify {
  display: inline-block;
  font-size: 18px;
  line-height: 1;
  vertical-align: -0.25em;
  white-space: nowrap;
}

.vp-doc a {
  text-decoration: none !important;
}

.vp-doc a:hover {
  text-decoration: underline !important;
  text-underline-offset: 3px !important;
  text-decoration-thickness: 2px !important;
}